<!DOCTYPE html>
<html lang="es" ng-app="bikesStore">
	<head>
		<meta charset="utf-8"/>
		<title>Registro de Usuarios para DumarBikesStore</title>
		<link rel="stylesheet" href="../static/css/estilosRegistroUsuario.css">
		<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="../static/css/normalize.css">
		<script type="text/javascript" src="../static/js/jquery.jcarousel.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	</head>
	<body>
		<header ng-controller="NavController as navCtrl">
			<nav ng-repeat="nav in navCtrl.navs">
				<figure class="logo" ng-repeat="logo in nav.logos">
					<a href="../index.html">
						<img ng-src="../{{logo.urlLogo}}" width="80px">
					</a>
				</figure>
				<ul class="mainMenu" id="menu">
					<li ng-repeat="menu in nav.menus">
						<a href="../{{menu.urlSubMenu}}">{{menu.titleSubMenu}}</a>
					</li>				
				</ul>			
				<div class="search-left">
					<form action="" method="get" class="search-input" id="search">			
						<input data-helper-text="Encuentra los accesorios para tu bibicleta" class="input_search" id="busqueda" type="search" name="q" placeholder="buscar">
						<span class="icon-busqueda"></span>
					</form>
				</div>
				<a href="#" class="avatar">
					<img src="../static/imagenes/avatar.png" alt="">
				</a>
				<div id="opt_login" class="container_login" ng-repeat="log in nav.logins">
					<a href="../{{log.urlPageIng}}" class="login ingresarUsuario" id="login_ingresar">{{log.nameIngresar}}</a>
					<a href="../{{log.urlPageReg}}" class="login hacerIngresoUsuario" id="login_reg">{{log.nameRegistro}}</a>
				</div>
			</nav>		
		</header>
		<section class="registro">
			<div class="info_registroUsuario">
				<h2>Ingreso Usuarios</h2>
			</div>
			<form id="registrarUsuario" method="post">
				<fieldset class="datosPersonales">
					<legend>Datos Personales</legend>
					<div class="container container_nombre">
						<label class="nombre">Nombre:</label>
						<div>
							<input class="input inputNombre" type="text" placeholder="Primer y Segundo nombre">
						</div>
					</div>
					<div class="container container_apellidos">
						<label class="apellidos">Apellidos:</label>
						<div>
							<input class="input" type="text" placeholder="Apellidos">
						</div>
					</div>					
					<div class="container container_telefono">
						<label class="telefono">Telefono:</label>
						<div>
							<input class="input" type="text" placeholder="Telefono">
						</div>
					</div>
					<div class="container container_email">
						<label for="email">Email:</label>
						<div>
							<input id="email" class="input" type="text" placeholder="Email">
						</div>
					</div>
					<div class="container container_ciudad">
						<label class="ciudad">Ciudad:</label>
						<div>
							<input class="input" type="text" placeholder="Ciudad">
						</div>
					</div>
					<div class="container container_tipoIdentificacion">
						<label class="tipoIdentificacion">Tipo de Identifación</label>
						<div>
							<select class="input" name="tipoIdentifacion" id="">
								<option value="1">C.C.</option>
								<option value="2">C.E.</option>
								<option value="3">T.I.</option>
								<option value="4">Pasaporte</option>
							</select>
						</div>	
					</div>
					<div class="container container_identificacion">
						<label class="identifacion">Identifación:</label>
						<div>
							<input class="input" type="text" placeholder="Identificacion">
						</div>
					</div>
					<div class="container container_ocupacion">
						<label class="ocupacion">Ocupación:</label>
						<div>
							<input class="input" type="text" placeholder="ocupacion">
						</div>
					</div>
					
				</fieldset>
				<fieldset class="datosUsuario">
					<legend>Autenticación</legend>
					<div class="container container_nombreUsuario">
						<label class="nombreUsuario">Nombre Usuario:</label>
						<div>
							<input class="input" type="text" placeholder="username">
						</div>
					</div>
					<div class="container container_passwordUsuario">
						<label class="passwordUsuario">Password</label>
						<div>
							<input class="input" type="text" placeholder="Password">
						</div>
					</div>
					<div class="container container_confirmarPassword">
						<label for="confirmarPassword" class="confirmacion">Confirmar Password</label>
						<div>
							<input id="confirmarPassword" type="text" class="input" placeholder="Ingrese de nuevo el password">
						</div>
					</div>
					<span class="icon-registrar"></span>
					<input class="inputRegistrar" type="submit" value="Registrar" />
					<span class="miembro">¿Ya eres un miembro? <a href="#"> Ingresa</a></span>

				</fieldset>
			</form>			
		</section>
		<footer ng-controller="FooterController as footerCrtl">
			<div class="footer-container" ng-repeat="footer in footerCrtl.footers">
				<div class="footer-column">
					<ul class="footer-contactList">
						<li class="footer-contactInfo" ng-repeat="contact in footer.contacts">
							<a href="{{contact.url}}">
								<img ng-src="../{{contact.image}}">{{contact.name}}
							</a>
						</li>							
					</ul>
				</div>
				<figure class="logo-footer">
					<img ng-src="../{{footer.urlLogo}}" width="230px">
				</figure>
				<div class="footer-column author" ng-repeat="author in footer.authors">
					<p class="footer-infoAuthor">
						<strong>{{author.name}}</strong>
					</p>
					<p class="footer-infoAuthor">
						{{author.email}}
					</p>
				</div>
				<div class="footer-column description" id="descripcion">
					<p>{{footer.description}}
					</p>
				</div>
			</div>	
		</footer>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-62147564-1', 'auto');
		  ga('send', 'pageview');

		</script>
		<script src="../static/js/app.js"></script>
	</body>
</html>