body
	background red
.registro
	
	#registrarUsuario
		
		.datosUsuario
			border none
			width auto
			legend
				border-bottom 1px solid gray
				padding-bottom 10px
				width 100%		
		.datosPersonales
			background red