@import "normalize.styl"
@import "style.styl"

@font-face
  font-family 'icomoon'
  src url('../fonts/icomoon.eot')
  src url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.woff') format('woff'),
      url('../fonts/icomoon.ttf') format('truetype'),
      url('../fonts/icomoon.svg#icomoon') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
  font-family 'icomoon'
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

gris_claro = #eee
gris_oscuro = darkcyan
azul_oscuro = #333333
dorado = #fc0

body
  font-family 'Raleway', sans-serif
  font-size 16px

footer
  background #202020
  color rgba(255,255,255,0.7)
  padding 1em
  display relative
  .footer-contactList
    display inline-block
    margin-right 2em
    .footer-contactInfo
      margin-bottom .3em
      a
        text-decoration none
        color #20B2AA
  .footer-container
      text-align center
  .footer-column
      display inline-block
      margin 0 4em
      .footer-infoAuthor
          margin 0
          font-size 0.8em        
  .logo-footer
    display inline-block
    margin 0
    position absolute
    left 0
    right 0

nav
  background azul_oscuro
  position fixed
  width 100%
  height 3.5em
  border-bottom 2px solid dorado
  z-index 2
  .logo
    margin 0 2em
    display inline-block
    
  .mainMenu
    top 1em
    margin 0
    display inline-block
    position absolute
    left 10em
    li
      padding-right 4em
      display inline-block
      a
        padding-right 3em
        text-decoration none
        border-right 1px solid white
        color white
        text-transform uppercase
        font-size .8em        
              
  .search-left
    position absolute
    top .8em      
    right 12.5em
    display inline-block
    .search-input
      .input_search
            border-radius 5px
            border 1px solid lightblue
            font-family 'Raleway', sans-serif;
            padding 0 1em 0 2em
            width 180px
            height 2.2em
            font-size .8em
      .icon-busqueda
        right 12.5em
        top .6em
        position absolute
        &:before
          content "\e601"
  .container_login
    position absolute
    top 1.1em
    right .6em
    display inline-block
    font-size .8em
    .ingresarUsuario
      padding-right .5em
      border-right 1px solid white
      color gris_oscuro
    .hacerIngresoUsuario
      padding-left .5em
      color dorado
  .avatar
    position absolute
    right 10em
    top .6em
    opacity .4
ul
  list-style none
  
#contenido
  h2
    margin-bottom 2em
  .items
    margin-left 6em
    margin 0
    text-align center
    .image_producto
      a
        text-decoration none
        padding-top 1em
      p
        margin-top 1em
        font-size 18px
        text-align center
        width 200px
      .precio_producto
        display block
        margin-top 0.5em
        font-size 0.9em
      img
        border-bottom 2px dotted #DCDCDC
        padding-bottom 2em
        width 200px
        padding-bottom 0
        width 200px
  .image_producto
    display inline-block
    margin 0 2em 1em 4em
    padding 0.5em 0.5em 0 0.5em
    width 250px
    height 300px
    margin-bottom 5em
    &:hover
      box-shadow rgba(0,0,0,0.2) 5px 5px 20px
  .is-active
    display block
  .icon-hideMenu
    &:before
      content "\e605"
  .icon-shonMenu
    &:before
      content "\e606"

.footer-contactInfo
  a
    text-decoration none

.footer-infoAuthor
  &:last-child
    &:after
      content " -"
    &:before
      content "- "

.jcarousel-wrapper
  top 3em



