@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body
{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}
footer
{
	background: #202020 ;
	color: rgba(255,255,255,0.7);
	padding: 1em;	
}
footer ul
{
	display: inline-block;
	margin-right: 35px;	
}
footer ul li
{
	list-style: none;
	margin-bottom: 5px;
}
footer ul li a
{
	text-decoration: none;
	color: #20B2AA;
}
footer .footer-container
{
	text-align: center;
}
footer .footer-column
{
	display: inline-block;
}

footer .footer-column p
{	
	margin: 0;
}
footer .footer-contactList
{
	text-align: left;
}
footer p:first-child
{	
	margin-bottom: 0;
}
footer p:last-child
{
	margin-top: 0;
}
footer #descripcion
{
	display: inline-block;
	margin-left: 35px;
}
footer #descripcion p
{
	text-align: left;
}
nav
{		
	background: #32c7c6;
	border-bottom: 3px solid gold;
	font-size: 1em;
	padding: 0;
}
nav figure
{
	display: inline-block;	
}
nav #logo
{
	border-right: 1px solid lightblue;
	margin: 0.2em 0 0 2em;
	padding-right: 0.5em;
}

nav #avatar
{
	margin: 0;
	float: right;
	right: 190px;
	position: relative;
	top: 10px;
}
nav #avatar img
{
	opacity: 0.4;
}
nav #logo img
{
	border-radius: 30px 5px 5px 5px;
	overflow: hidden;
}

nav #search-left span:before
{
	content: "\e600";
	display: inline-block;
	position: absolute;
	top: 1em;
}
nav #search-left
{
	display: inline-block;
}
nav ul 
{
	margin: 0;
	display: inline-block;
	padding-top: 1em;
	vertical-align: top;
}
nav ul li
{	
	display: inline-block;
	list-style: none;
	margin-right: 4em;
}
nav ul li a
{
	border-right: 1px solid white;
	color: white;
	text-decoration: none;
	padding-right: 3em;
}
nav #busqueda
{
	border: 1px solid #888;
	border-radius: 5px;	
	font-family: 'Lato', sans-serif;
	padding: 0.5em 1.5em;
	position: relative;
	bottom: 1.5em; 
	right: 0.3em;
	width: 200px;
}
nav #logo img
{
	margin: 0;
	width: 70px;
}
nav #login_ingresar
{
	border-right: 1px solid white;
	padding-right: 1em;
	text-decoration: none;
}
nav #login_reg
{
	padding-left: 1em;
	color: #fc0;
}
nav #opt_login
{
	display: inline-block;
	font-family: 'Lato', sans-serif;
	float: right;
	font-size: 0.8em;
	padding-top: 1.5em;
}

#contenido h2
{
	margin-bottom: 2em;
}
#contenido .items
{
	margin-left: 6em;
}
#contenido .items .image_producto a
{
	text-decoration: none;
	padding-top: 1em;
}
#contenido .items .image_producto p
{
	margin-top: 1em;
}
#contenido .items .image_producto .precio_producto
{
	display: block;
	margin-top: 0.5em;
}
#contenido .image_producto
{	
	display:inline-block;
	margin: 0 2em 1em 4em;
	padding: 0.5em 0.5em 0 0.5em;
	width: 250px;
	height: 300px;
}
#contenido .image_producto:hover
{
	box-shadow: rgba(0,0,0,0.2) 5px 5px 20px;
}
#contenido .items .image_producto img
{
	border-bottom: 2px dotted #DCDCDC;
	padding-bottom: 2em;
	width: 200px;
}
.footer-contactInfo a
{
	text-decoration: none;
}
.footer-infoAuthor:last-child:after
{
	content: " -";
}
.footer-infoAuthor:last-child:before
{
	content: "- ";
}

