<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<title>Publicación para la venta de accesorios para bicicletas.</title>
	<link rel="stylesheet" type="text/css" href="../static/css/estilosPbAccesorios.css">
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700,300italic' rel='stylesheet' type='text/css'>
	
</head>
<body>
	<header>
		<nav>
			<figure id="logo">
				<a href="index.html"><img src="../static/imagenes/logo.png"></a>
			</figure>
			<ul>
				<li><a href="LuzNumemGiant.html">Luces</a></li>
				<li><a href="PortaCaramanolaRaceAzul.html">PortaCaramañolas</a></li>
				<li><a href="GuayaGiant.html">Guayas</a></li>
				<li><a href="ManillarBlanco.html">Manillares</a></li>
			</ul>
			
			<div id="search-left">				
				<form action="/search/" method="get">
					<input data-helper-text="Encuentra los accesorios para tu bibicleta" class="input_search" id="busqueda" type="search" name="q" value="" data-hasqtip="1">
				</form>
				<span class="icon-busqueda"></span>
			</div>
			<a href="" id="avatar">
				<img src="../static/imagenes/avatar.png" alt="">
			</a>
			<div id="opt_login">
				<a href="" class="login" id="login_ingresar">Ingresar</a>
				<a href="" class="login" id="login_reg">Registrame</a>
			</div>
		</nav>
	</header>	
	<section id="contenido">
		<div>
			<h2>Luz Numen Mini Azul, Morada/Luz Blanca y Roja</h2>
		</div>
		<article id="detallesGenerales">
			<figure id="imagen_detalles">
				<img src="../static/imagenes/luzGiantAzul.jpg">
			</figure>
			<div id="info_Producto">
				<span class="descripcionLuz">Código:<p class="detalle_Producto">B2017</p></span><br>
				<span class="descripcionLuz">Marca: <p class="detalle_Producto">Giant</p></span><br>
				<span class="descripcionLuz">Modelo:<p class="detalle_Producto">Numen MINI W</p></span><br>
				<span class="descripcionLuz">Categoría:<p class="detalle_Producto"> ACCESORIOS</p></span><br>
				<span class="descripcionLuz">Subcategoria:<p class="detalle_Producto">LUCES</p></span>					
			</div>
			<span id="precio">Precio: $ 7.000</span>				
		</article>
		<article id="especificaciones">
			<h2>Especificaciones Técnicas</h2>
			<ul>
				<li>2 Bright LED blancos</li>
				<li>2 modos: constante / Flash</li>
				<li>Fácil montaje correasuave</li>
				<li>Funda de goma resistente al agua</li>
			</ul>			
		</article>				
	</section>
	<footer>
		<div class="footer-container">
			<div class="footer-column">
				<ul class="footer-contactList">
					<li class="footer-contactInfo"><a href="skype:dumarbikesstore?call"><img src="../static/imagenes/Skype.png">dumarbikesstore</a></li>
					<li class="footer-contactInfo"><a href="callto://+(4) 7776819"><img src="../static/imagenes/phone.png">(4) 7776819</a></li>
					<li class="footer-contactInfo"><a href="callto://+3015363012"><img src="../static/imagenes/cell-iphone.png">3015363012</a></li>
					<li class="footer-contactInfo"><a target="_blank" href="//twitter.com/dumarbikesstore"><img src="../static/imagenes/twitter.png">@dumarbikesstore</a></li>
					<li class="footer-contactInfo"><a target="_blank" href="//facebook.com/dumarbikesstore"><img src="../static/imagenes/facebook.png">/dumarbikesstore</a></li>		
				</ul>
			</div>
			<div class="footer-column">
				<p class="footer-infoAuthor">
					<strong>Powered by Carlos Andrés Rodriguez</strong>
				</p>
				<p class="footer-infoAuthor">
					carlosdumar4@gmail.com
				</p>
			</div>
			<div class="footer-column" id="descripcion">
				<p>Tienda Online de ventas <br> de articulos electronicos y <br>deportivos. Contamos con<br> personal capacitado para <br>atenderlo de la mejor manera.
				</p>
			</div>
	</footer>
</body>
</html>