<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" name="description" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Publicación para la venta de accesorios para bicicletas.</title>
	<link rel="stylesheet" type="text/css" href="../static/css/estilosPbAccesorios.css">
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700,300italic' rel='stylesheet' type='text/css'>
	
</head>
<body>
	<header>
		<nav>
			<figure id="logo">
				<a href="index.html"><img src="../static/imagenes/logo.png"></a>
			</figure>
			<ul>
				<li><a href="LuzNumemGiant.html">Luces</a></li>
				<li><a href="PortaCaramanolaRaceAzul.html">PortaCaramañolas</a></li>
				<li><a href="GuayaGiant.html">Guayas</a></li>
				<li><a href="ManillarBlanco.html">Manillares</a></li>
			</ul>
			<div id="search-left">				
				<form action="" method="get" class="search-input">			
					<input data-helper-text="Encuentra los accesorios para tu bibicleta" class="input_search" id="busqueda" type="search" name="q" placeholder="buscar">
					<span class="icon-busqueda"></span>
				</form>
			</div>
			<a href="" id="avatar">
				<img src="../static/imagenes/avatar.png" alt="">
			</a>
			<div id="opt_login">
				<a href="" class="login" id="login_ingresar">Ingresar</a>
				<a href="" class="login" id="login_reg">Registrame</a>
			</div>
		</nav>
	</header>	
	<section id="contenido">
		<div>
			<h2>PortaCaramañola Lateral Pasta Dura Gris</h2>
		</div>
		<article id="detallesGenerales">
			<figure id="imagen_detalles">
				<img src="../static/imagenes/portacaramanola-gris-pasta.jpg">
			</figure>			
			<ul class="info_Producto">
				<li>
					<span class="descripcionLuz">Código:</span>
					<span class="detalle_Producto">B1432</span>
				</li>
				<li>
					<span class="descripcionLuz">Marca:</span>
					<span class="detalle_Producto">Giant</span>
				</li>
				<li>
					<span class="descripcionLuz">Modelo:</span>
					<span class="detalle_Producto">Sidecar BLACK</span>
				</li>
				<li>
					<span class="descripcionLuz">Categoría:</span>
					<span class="detalle_Producto">Accesorios</span>
				</li>
				<li>
					<span class="descripcionLuz">Subcategoria:</span>
					<span class="detalle_Producto">Bottle Cages</span>
				</li>
			</ul>
			<span id="precio">Precio: $ 8.000</span>				
		</article>
		<article id="especificaciones">
			<h2>Especificaciones Técnicas</h2>
			<ul>
				<li>Colocación lateral de la botella de agua</li>
				<li>Ideal para cuadros pequeños y espacios estrechos</li>
				<li>Puntos de contacto co-moldeados.</li>
				<li>Fabricación de policarbonato, ligero (38g)</li>
			</ul>			
		</article>			
	</section>
	<footer>
		<div class="footer-container">
			<div class="footer-column">
				<ul class="footer-contactList">
					<li class="footer-contactInfo"><a href="skype:dumarbikesstore?call"><img src="../static/imagenes/Skype.png">dumarbikesstore</a></li>
					<li class="footer-contactInfo"><a href="callto://+(4) 4234898"><img src="../static/imagenes/phone.png">(4) 4234898</a></li>
					<li class="footer-contactInfo"><a href="callto://+3015363012"><img src="../static/imagenes/cell-iphone.png">3015363012</a></li>
					<li class="footer-contactInfo"><a target="_blank" href="//twitter.com/dumarbikesstore"><img src="../static/imagenes/twitter.png">@dumarbikesstore</a></li>
					<li class="footer-contactInfo"><a target="_blank" href="//facebook.com/dumarbikesstore"><img src="../static/imagenes/facebook.png">/dumarbikesstore</a></li>		
				</ul>
			</div>
			<div class="footer-column">
				<p class="footer-infoAuthor">
					<strong>Powered by Carlos Andrés Rodriguez</strong>
				</p>
				<p class="footer-infoAuthor">
					carlosdumar4@gmail.com
				</p>
			</div>
			<div class="footer-column" id="descripcion">
				<p>Tienda Online de ventas <br> de articulos electronicos y <br>deportivos. Contamos con<br> personal capacitado para <br>atenderlo de la mejor manera.
				</p>
			</div>
		</div>	
	</footer>
</body>
</html>